********************************************************
*                                                      *
* DRILL TAPE SUMMARY REPORT                            *
*                                                      *
* D:\PROJECTS\ORCAD\DIMMER\HARDWARE\DIMMER_ATMEGA.MAX  *
* Mon May 16 00:12:37 2016                             *
*                                                      *
********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       6        200      100                                                                                 
T2       31       14       200      100                                                                                 
T3       34       30       200      100                                                                                 
T4       35       2        200      100                                                                                 
T5       38       42       200      100                                                                                 
T6       39       2        200      100                                                                                 
T7       40       9        200      100                                                                                 
T8       54       6        200      100                                                                                 
T9       59       4        200      100                                                                                 
T10      110      4        200      100                                                                                 
